cacheDatabasePath=tmp
eventBufferDatabaseName=eventsDB
eventBufferCacheSize=10000
eventBufferBloomfilterFalsePositiveProbability=0.0001
eventBufferBloomFilterExpectedNumberOfElements=1000000
artifactsDatabaseName=artifactsDB
artifactsCacheSize=100000
artifactsBloomfilterFalsePositiveProbability=0.0001
artifactsBloomFilterExpectedNumberOfElements=1000000

