# The structure of the file is as follows:
# The encryption level could be low, medium or high.
# For a given level of encryption, provenance is individually encrypted for that level,
# Encryption is done according to the strategy programmed in the transformer source code.

# 'keysDirectory' contains the master public key used for encryption and the secret keys used in decryption.
# One line in the file contains the encryption level, followed by a comma-separated list of annotations to encrypt.

# Following are the various strategies for encryption composite annotations...
# remote address: (xxx.xxx.xxx.xxx)
# 'low', the second octet is encrypted.
# 'medium', the third octet is encrypted.
# 'high', the fourth octet is encrypted.

# path: (w/x/y/z/...)
# 'low', path after first level is encrypted.
# 'medium', path after the second level is encrypted.
# 'high', path after the third level is encrypted.

# time: (yyyy-MM-dd HH:mm:ss)
# 'low', minute, second and millisecond are encrypted.
# 'medium', hour is encrypted.
# 'high', day is encrypted.

keysDirectory=cfg/keys/attributes

low
cwd,fsgid,fsuid,sgid,suid,remote address[encryptIpAddress:decryptIpAddress],path[encryptPath:decryptPath],time[encryptTime:decryptTime]

medium
command line,uid,gid,remote address[encryptIpAddress:decryptIpAddress],path[encryptPath:decryptPath],time[encryptTime:decryptTime],size

high
name,euid,remote address[encryptIpAddress:decryptIpAddress],path[encryptPath:decryptPath],time[encryptTime:decryptTime],operation
