# The file requires there to be unique keys. Annotations used in multiple vertices/edges are commented out except for one instance.

# Vertex Annotations

# Agent Annotations
#uid=>
#euid=>
gid=>group
#egid=>
#suid=>
#sgid=>
#fsuid=>
#fsgid=>
#source=>source

# Process Annotations
name=>programName
#pid=>
ns pid=>nsPid
#ppid=>
cwd=>currentDirectory
command line=>commandLine
start time=>startTime
#seen time=>
#unit=>
#count=>
#iteration=>
mount namespace=>mountNamespace
user namespace=>userNamespace
net namespace=>netNamespace
pid namespace=>pidNamespace
children pid namespace=>childrenPidNamespace
ipc namespace=>ipcNamespace
#source=>source

# Artifact Annotations
subtype=>entityType
memory address=>memoryAddress
#size=>
#tgid=>
#time=>
#path=>
#root path=>rootPath
#inode=>
#permissions=>
version=>hasVersion
#epoch=>
#fd=>
read fd=>readFd
write fd=>writeFd
#fd 0=>
#fd 1=>
local address=>sourceAddress
local port=>sourcePort
remote address=>destinationAddress
remote port=>destinationPort
#protocol=>
# Included above.
#net namespace=>netNamespace
# Included above.
#ipc namespace=>ipcNamespace
#id=>id
#owner uid=>ownerUid
#owner gid=>ownerGid
#source=>source

# Edge Annotations

# WasControlledBy Annotations
#operation=>operation
#time=>time
event id=>eventId
#source=>source

# WasTriggeredBy Annotations
#operation=>operation
#flags=>flags
#request=>request
#signal=>signal
#time=>time
#event id=>eventId
#source=>source

# WasGeneratedBy Annotations
#operation=>operation
#size=>size
mode=>permissions
#flags=>flags
#protection=>protection
#offset=>offset
#whence=>whence
#advice=>advice
#time=>time
#event id=>eventId
#source=>source

# Used Annotations
#operation=>operation
#size=>size
#mode=>mode
#flags=>flags
#offset=>offset
#time=>time
#event id=>eventId
#source=>source

# WasDerivedFrom Annotations
#operation=>operation
#pid=>pid
#time=>time
#event id=>eventId
#source=>source

#todo add the rest here as new annotations added in OPMConstants
