#backward_search

TemporalTraversal order="event id"
Aggregation
#DropKeys keys="event id"
#NoUnits
NoMemory
#NoVersions
#MergeIO
SimpleForks
Blacklist
NoEphemeralReads limited=true
NoEphemeralWrites

#forward_search

TemporalTraversal order="event id"
Aggregation
#DropKeys keys="event id"
#NoUnits
NoMemory
#NoVersions
#MergeIO
SimpleForks
Blacklist
NoEphemeralReads limited=false
NoEphemeralWrites
