###
# Environment variable defaults
# Commented out variable means that it is undefined
###

# Specify a default maximum depth to use for path and lineage queries
#maxDepth=
# Specify a default limit for limit queries
#limit=
# Specify a default precision value (number of decimal places) for graph statistics queries
precision=3
# Specify the max graph export limit
exportLimit=4096
