AuditProcessesMap.argument=reportingSeconds=120 flushOnClose=false
AuditProcessesMap.screenName=BloomFilter
AuditProcessesMap.screenArgument=expectedElements=1000000 falsePositiveProbability=0.000001
AuditProcessesMap.cacheName=LRU
AuditProcessesMap.cacheArgument=size=66000
AuditProcessesMap.storeName=BerkeleyDB
AuditProcessesMap.storeArgument=environmentPath=tmp/externalMap/berkeleyDb/reporter/audit/ProcessesMap dbName=AuditProcessesMapDb deleteOnClose=true
