# Annotations for everything
source=>source

# The file requires there to be unique keys. Annotations used in multiple vertices/edges are commented out except for one instance.
# Duplicate annotations for which : 'offset', 'mode', 'flags', 'pid', 'size', 'time'

# Vertex Annotations

# Agent Annotations
uid=>uid
euid=>euid
gid=>gid
egid=>egid
suid=>suid
sgid=>sgid
fsuid=>fsuid
fsgid=>fsgid

# Process Annotations
name=>name
pid=>pid
ppid=>ppid
cwd=>cwd
command line=>commandLine
start time=>startTime
seen time=>seenTime
unit=>unit
count=>count
iteration=>iteration

# Artifact Annotations
subtype=>subtype
memory address=>memoryAddress
size=>size
tgid=>tgid
# 'time' already included below
#time=>time
path=>path
permissions=>permissions
version=>version
epoch=>epoch
fd=>fd
read fd=>readFd
write fd=>writeFd
fd 0=>fd0
fd 1=>fd1
local address=>localAddress
local port=>localPort
remote address=>remoteAddress
remote port=>remotePort
protocol=>protocol

# Edge Annotations

# Annotations for all Edges
operation=>operation
time=>time
event id=>eventId

# WasTriggeredBy Annotations
flags=>flags
request=>request
signal=>signal

# WasGeneratedBy Annotations
#size=>size
mode=>mode
#flags=>flags
protection=>protection
#offset=>offset

# Used Annotations
#size=>size
#mode=>mode
#flags=>flags
#offset=>offset

# WasDerivedFrom Annotations
#pid=>pid

#todo add the rest here as new annotations added in OPMConstants
