Schema=cfg/spade.storage.CDM.avsc
cacheDatabasePath=tmp
verticesDatabaseName=cdmVerticesDB
verticesCacheSize=100000
verticesBloomfilterFalsePositiveProbability=0.0001
verticesBloomFilterExpectedNumberOfElements=1000000
#uncomment the following line to report stats in the log
#reportingIntervalSeconds=120
