AuditArtifactsMap.argument=reportingSeconds=120 flushOnClose=false
AuditArtifactsMap.screenName=BloomFilter
AuditArtifactsMap.screenArgument=expectedElements=1000000 falsePositiveProbability=0.000001
AuditArtifactsMap.cacheName=LRU
AuditArtifactsMap.cacheArgument=size=100000
AuditArtifactsMap.storeName=BerkeleyDB
AuditArtifactsMap.storeArgument=environmentPath=tmp/externalMap/berkeleyDb/reporter/audit/AritfactsMap dbName=AuditArtifactsMapDb deleteOnClose=true
