spade.host = localhost
spade.query.port = $(config_file cfg/spade.core.Kernel.config commandline_query_port)
spade.control.port = $(config_file cfg/spade.core.Kernel.config local_control_port)
# Expects 'stdio' or 'http'
mcp.server.mode = http
# Required if mcp.server.mode is http
mcp.http.host.name = localhost
mcp.http.host.port = 3000
mcp.http.host.endpoint = /mcp
