# Name of the version annotation to use. Added to all vertices.
versionAnnotationName=VOWVersion
# The initial version to use for the added version annotation
initialVersion=0
# The annotation key string to use to identify a versioning edge created by this filter 
edgeAnnoKey=vow_edge_type
# The annotation value string to use to identify a versioning edge created by this filter 
edgeAnnoValue=vow_versioning
