# https://github.com/torvalds/linux/blob/master/include/uapi/asm-generic/fcntl.h#L20
O_RDONLY = 00000000
O_WRONLY = 00000001
O_RDWR = 00000002
O_CREAT = 00000100
O_TRUNC = 00001000
O_APPEND = 00002000

# https://github.com/torvalds/linux/blob/master/include/uapi/asm-generic/mman-common.h#L23
MAP_ANONYMOUS = 0x20

# https://github.com/torvalds/linux/blob/master/include/uapi/asm-generic/fcntl.h
F_LINUX_SPECIFIC_BASE = 1024
F_DUPFD = 0
F_SETFL = 4
# https://github.com/torvalds/linux/blob/master/include/uapi/linux/fcntl.h#L18. (F_DUPFD_CLOEXEC = F_LINUX_SPECIFIC_BASE + 6)
F_DUPFD_CLOEXEC = 1030

# https://github.com/torvalds/linux/blob/master/include/uapi/asm-generic/errno.h#L98
EINPROGRESS = 115

# https://github.com/torvalds/linux/blob/master/include/linux/net.h#L64
SOCK_STREAM = 1
SOCK_DGRAM = 2
SOCK_SEQPACKET = 5

# https://github.com/torvalds/linux/blob/master/include/linux/socket.h#L177
AF_UNIX = 1
AF_LOCAL = 1
AF_INET = 2
AF_INET6 = 10
PF_UNIX = 1
PF_LOCAL = 1
PF_INET = 2
PF_INET6 = 10

# https://github.com/torvalds/linux/blob/master/include/uapi/linux/ptrace.h#L15
PTRACE_POKETEXT = 4
PTRACE_POKEDATA = 5
PTRACE_POKEUSR = 6
# https://github.com/torvalds/linux/blob/master/arch/x86/include/uapi/asm/ptrace-abi.h#L69
PTRACE_SETREGS = 13
PTRACE_SETFPREGS = 15
# https://github.com/torvalds/linux/blob/master/include/uapi/linux/ptrace.h#L51
PTRACE_SETREGSET = 0x4205
PTRACE_SETSIGINFO = 0x4203
PTRACE_SETSIGMASK = 0x420b
# https://github.com/torvalds/linux/blob/master/arch/x86/include/uapi/asm/ptrace-abi.h#L79
PTRACE_SET_THREAD_AREA = 26
# https://github.com/torvalds/linux/blob/master/include/uapi/linux/ptrace.h#L28
PTRACE_SETOPTIONS = 0x4200
PTRACE_CONT = 7
PTRACE_SYSCALL = 24
PTRACE_SINGLESTEP = 9
# https://github.com/torvalds/linux/blob/master/arch/x86/include/uapi/asm/ptrace-abi.h#L85
PTRACE_SYSEMU = 31
PTRACE_SYSEMU_SINGLESTEP = 32
# https://github.com/torvalds/linux/blob/master/include/uapi/linux/ptrace.h#L19
PTRACE_KILL = 8
PTRACE_INTERRUPT = 0x4207
PTRACE_ATTACH = 16
PTRACE_DETACH = 17
PTRACE_LISTEN = 0x4208

# https://github.com/torvalds/linux/blob/master/include/uapi/asm-generic/mman-common.h#L45
MADV_NORMAL = 0
MADV_RANDOM = 1
MADV_SEQUENTIAL = 2
MADV_WILLNEED = 3
MADV_DONTNEED = 4
MADV_FREE = 8
MADV_REMOVE = 9
MADV_DONTFORK = 10
MADV_DOFORK = 11
MADV_MERGEABLE = 12
MADV_UNMERGEABLE = 13
MADV_HUGEPAGE = 14
MADV_NOHUGEPAGE = 15
MADV_DONTDUMP = 16
MADV_DODUMP = 17
MADV_WIPEONFORK = 18
MADV_KEEPONFORK = 19
MADV_HWPOISON = 100
MADV_SOFT_OFFLINE = 101

# https://github.com/torvalds/linux/blob/master/include/uapi/linux/fs.h#L43
SEEK_SET = 0
SEEK_CUR = 1
SEEK_END = 2
SEEK_DATA = 3
SEEK_HOLE = 4

# https://github.com/torvalds/linux/blob/master/include/uapi/linux/sched.h
CLONE_CHILD_CLEARTID = 0x00200000
CLONE_CHILD_SETTID = 0x01000000
CLONE_FILES = 0x00000400
CLONE_FS = 0x00000200
CLONE_IO = 0x80000000
CLONE_NEWUSER = 0x10000000
CLONE_NEWIPC = 0x08000000
CLONE_NEWNET = 0x40000000
CLONE_NEWNS = 0x00020000
CLONE_NEWPID = 0x20000000
CLONE_NEWUTS = 0x04000000
CLONE_PARENT = 0x00008000
CLONE_PARENT_SETTID = 0x00100000
CLONE_PTRACE = 0x00002000
CLONE_SETTLS = 0x00080000
CLONE_SIGHAND = 0x00000800
CLONE_SYSVSEM = 0x00040000
CLONE_THREAD = 0x00010000
CLONE_UNTRACED = 0x00800000
CLONE_VFORK = 0x00004000
CLONE_VM = 0x00000100
SIGCHLD = 17
