# Implementation of the paper: http://www.csl.sri.com/users/gehani/papers/TaPP-2019.APT_Classifier.pdf

# Comma separated names of processes to match
malicious=

# Output file path to write process features of all processes
processFeaturesPath=tmp/windows.process.features.csv

# Output file path to write artifact features of all filepath artifacts
filePathFeaturesPath=tmp/windows.filepath.features.csv

# The time window to consider as inception time window (Section 4.2 of the paper)
# Expressed in nanoseconds
inceptionTime=10000000

# The weight of a tainted process to use for propagation to children (Section 4.1 of the paper)
taintedParentWeight=5.0

# The pattern specification for the following two fields is here (https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatter.html)
# The Java datetime pattern to use for parsing the 'time' annotation
patternTime=h:mm:ss.n a
# The Java datetime pattern to use for parsing the 'datetime' annotation
patternDateTime=M/dd/yyyy h:mm:ss a
