# The file requires there to be unique keys. Annotations used in multiple vertices/edges are commented out except for one instance.

uid=>uid
euid=>euid
gid=>gid
egid=>egid
suid=>suid
sgid=>sgid
fsuid=>fsuid
fsgid=>fsgid
source=>source

name=>name
pid=>pid
ns pid=>nsPid
ppid=>ppid
cwd=>cwd
command line=>commandLine
start time=>startTime
seen time=>seenTime
unit=>unit
count=>count
iteration=>iteration
mount namespace=>mountNamespace
user namespace=>userNamespace
net namespace=>netNamespace
pid namespace=>pidNamespace
children pid namespace=>childrenPidNamespace
ipc namespace=>ipcNamespace
exe=>exe

subtype=>subtype
memory address=>memoryAddress
size=>size
tgid=>tgid
time=>time
path=>path
root path=>rootPath
inode=>inode
permissions=>permissions
version=>version
epoch=>epoch
fd=>fd
read fd=>readFd
write fd=>writeFd
fd 0=>fd0
fd 1=>fd1
local address=>localAddress
local port=>localPort
remote address=>remoteAddress
remote port=>remotePort
protocol=>protocol
id=>id
owner uid=>ownerUid
owner gid=>ownerGid

operation=>operation
flags=>flags
request=>request
signal=>signal
event id=>eventId
mode=>mode
protection=>protection
offset=>offset
whence=>whence
advice=>advice
