tempDir=tmp
artifactsDatabaseName=artifactsDB
artifactsCacheSize=100000
artifactsBloomfilterFalsePositiveProbability=0.0001
artifactsBloomFilterExpectedNumberOfElements=1000000
windowSize=10000
#set 'reportingIntervalSeconds' to 0 to not report anything
reportingIntervalSeconds=120
#set 'externalMemoryMapReportingIntervalSeconds' to 0 to not report anything
externalMemoryMapReportingIntervalSeconds=120
spadeAuditBridge=lib/spadeAuditBridge
#Comma-seperated names of processes to ignore (case-sensitive). Only for live-audit.
ignoreProcesses=
#Comma-seperated names of processes whose immediate children are to be ignored (case-sensitive). Only for live-audit.
ignoreParentProcesses=
