# Flag to print warning messages or not (Boolean)
debug=true
# Flag to store filter state in memory or use the external map (Boolean)
inMemory=true
# Annotations in artifacts by which the artifact would be indexed (Comma separated values)
artifactAnnotationsToMatch=path,root path,tgid,size,memory address,local address,local port,remote address,remote port,protocol,subtype,fd,fd 0,fd 1,read fd,write fd
# Annotations in processes which need to be compared when checking which process did the reading and the writing of artifacts (Comma separated values)
processAnnotationsToMatch=mount namespace,user namespace,net namespace,pid namespace,ipc namespace,children pid namespace
# The type of the edge where the child is the artifact and parent is the process (i.e. a write) (Comma separated values)
typesOfArtifactToProcessEdge=WasGeneratedBy
# The type of the edge where the child is the process and parent is the artifact (i.e. a read) (Comma separated values)
typesOfProcessToArtifactEdge=Used

# Configuration for the external map if 'inMemory' was 'false' otherwise unused
artifactToProcessMapId=artifactToProcessMap
artifactToProcessMap.argument=reportingSeconds=120 flushOnClose=false
artifactToProcessMap.screenName=BloomFilter
artifactToProcessMap.screenArgument=expectedElements=1000000 falsePositiveProbability=0.000001
artifactToProcessMap.cacheName=LRU
artifactToProcessMap.cacheArgument=size=100000
artifactToProcessMap.storeName=BerkeleyDB
artifactToProcessMap.storeArgument=environmentPath=tmp/externalMap/berkeleyDb/filter/crossnamespaces/artifactToProcessMap dbName=crossnamespacesdb deleteOnClose=true