# Milliseconds to sleep for while waiting between checking whether the blocking condition has been escaped or not.
# Cannot be less than '10'
sleepWaitMillis=1000

# Number of seconds after which to report the buffer stats like put-rate, get-rate, size, and etc.
# Reporting done lazily i.e. only if elements were being put or get from the buffer.
# Set to a non-positive value to NOT report anything  
# Default 120 seconds
reportingIntervalSeconds=120
