## FIXED CONSTANTS BELOW BASED ON AMEBA SOURCE.

record_type_new_process = 1
record_type_cred = 2
record_type_namespace = 3
record_type_connect = 4
record_type_accept = 5
record_type_send_recv = 6
record_type_bind = 7
record_type_kill = 8
record_type_audit_log_exit = 9

sys_num_clone = 56
sys_num_setns = 308
sys_num_unshare = 272
sys_num_clone3 = 435
sys_num_sendto = 44
sys_num_sendmsg = 46
sys_num_recvfrom = 45
sys_num_recvmsg = 47
sys_num_accept = 43
sys_num_accept4 = 288
sys_num_bind = 49
sys_num_connect = 42
sys_num_kill = 62

sys_id_fork = 1
sys_id_vfork = 2
sys_id_clone = 3
sys_id_setns = 4
sys_id_unshare = 5
sys_id_sendto = 6
sys_id_sendmsg = 7
sys_id_recvfrom = 8
sys_id_recvmsg = 9
sys_id_accept = 10
sys_id_accept4 = 11

# Record identifying key-val pair for the converted record: <id_key>=<id_val>
record_id_key=record_source
record_id_val=ameba