AuditSanityMap.argument=reportingSeconds=120 flushOnClose=false
AuditSanityMap.screenName=BloomFilter
AuditSanityMap.screenArgument=expectedElements=100000000 falsePositiveProbability=0.0000001
AuditSanityMap.cacheName=LRU
AuditSanityMap.cacheArgument=size=1000000
AuditSanityMap.storeName=BerkeleyDB
AuditSanityMap.storeArgument=environmentPath=tmp/externalMap/berkeleyDb/filter/AuditSanity dbName=AuditSanityMapDb deleteOnClose=true
