# Name of the version annotation to use. Added to process vertices only.
versionAnnotationName=VOR_version
# The initial value of the added version annotation
initialVersion=0
# The annotation key string to use to identify a versioning edge created by this filter 
edgeAnnoKey=vor_edge_type
# The annotation value string to use to identify a versioning edge created by this filter 
edgeAnnoValue=vor_versioning