# Comma-separated names of malicious processes
malicious=

# Name of the annotation which specifes the name of the process in the vertex
# Specified for ProcMon reporter
processNameAnnotation=name

# Name of the label annotation to add on processes
labelAnnotation=label

# Value of the label annotation to mark a process as malicious
maliciousLabel=malicious

# Value of the label annotation to mark a process as benign
benignLabel=benign
