# The structure of the file is as follows:
# 'encryptionLevel' indicates the level of encryption to perform on the response graph.
# Encryption level could be low, medium or high.
# For a given level of encryption, provenance is individually encrypted for that level,
# as well for all the levels below that level. For example, if level is high, provenance is encrypted for all 3:
# low, medium and high levels separately.
# Encryption is done according to the strategy programmed in the transformer source code.

# When a user receives an encrypted Graph, 'decryptionLevel' and 'decryptionKeyFileName' are used for decrypting
# that graph and choosing the appropriate secret key.
# 'keysDirectory' contains the master public key used for encryption and the secret keys used in decryption.

# One line contains the encryption level, followed by its details.
# Each level of encryption is mentioned on a separate line, followed by its details.
# The details include a comma-separated list of annotations to encrypt for each type of Vertex and Edge.
# As an example, for 'Process' vertex, the following line:
# 'Process=annotation_1, annotation_2, ....., annotation_n'

# You can also encrypt annotations regardless of the type of vertex or edge:
# Vertex=annotation_1, annotation_2, ....., annotation_n'

# Following are the various strategies for encryption composite annotations...
# remote address: (xxx.xxx.xxx.xxx)
# 'low', the first octet is encrypted.
# 'medium', the second octet is encrypted.
# 'high', the third octet is encrypted.

# path: (w/x/y/z/...)
# 'low', path after third level is encrypted.
# 'medium', path after the second level is encrypted.
# 'high', path after the first level is encrypted.

# time: (yyyy-MM-dd HH:mm:ss)
# 'low', minute and second are encrypted.
# 'medium', hour is encrypted.
# 'high', day is encrypted.

encryptionLevel=medium
decryptionLevel=medium
decryptionKeyFileName=medium.key
keysDirectory=cfg/keys/attributes

low
Process=cwd
Agent=fsgid,fsuid,sgid,suid
Artifact=remote address,path
Edge=time

medium
Process=command line
Agent=uid,gid
Artifact=remote address,path
Edge=time,size

high
Process=name
Agent=euid
Artifact=remote address,path
Edge=time,operation
