###
# Filter configuration to convert date/time annotation values to a different format
###

###
# Vertex datetime conversion configuration
# Uncomment and update based on provenance being filtered
###
# Name of the annotation in the vertex that contains the datetime
#nameInVertex=datetime
# The expected datetime pattern in the vertex annotation
#patternInVertex=M/d/yyyy h:m:s a
# Name of the new annotation to add the vertex with the converted datetime
#newNameInVertex=converted_datetime
# The required datetime pattern for the new annotation
#newPatternInVertex=yyyymmddHHmmss

###
# Edge datetime conversion configuration
# Uncomment and update based on provenance being filtered
###
# Name of the annotation in the edge that contains the datetime
nameInEdge=datetime
# The expected datetime pattern in the edge annotation
patternInEdge=M/d/yyyy h:m:s a
# Name of the new annotation to add the edge with the converted datetime
newNameInEdge=converted_datetime
# The required datetime pattern for the new annotation
newPatternInEdge=yyyymmddHHmmss
