# Quickstep server address.
##
serverIP = 0.0.0.0
serverPort = 3000
##


# spade.storage.Quickstep buffers vertices/edges in batches and will flush when
# either (1) the current batch contains at least <batchSize> of edges,
# or     (2) <batchTimeIntervalInSeconds> seconds has passed since last flush.
##
batchSize = 262144
batchTimeIntervalInSeconds = 180
##


# Whether to reset Quickstep database on initialization. Setting this flag to
# true will erase all existing data.
##
# reset = false
##


# Quickstep currently does not have a TEXT type so needs to specify the maximum
# VARCHAR length for vertex/edge annotations. Annotation strings that exceed
# the maximum length will be truncated.
##
maxVertexKeyLength = 32
maxVertexValueLength = 65536
maxEdgeKeyLength = 32
maxEdgeValueLength = 256
##


# Utilize SPADE's key-value cache that enables external persistence to map each
# vertex's md5 hash to an integer ID.
##
cacheDatabasePath=tmp
cacheDatabaseName=qsCacheDB
cacheSize=1000000
cacheBloomfilterFalsePositiveProbability=0.0001
cacheBloomFilterExpectedNumberOfElements=1000000
##


# Additional log file location (instead of writing into the massive SPADE log)
# for easier debugging.
##
# debugLogFilePath = /tmp/quickstep.log
##
