{
	"File description":
	[
		"This file contain the mapping of vertex and edge annotations to colors, styles and shapes to use ",
		"to store them in the DOT format. This file contains of two sections, one for vertex and the other for edge. ",
		"Order of mappings matters. Stops at first match with a mapping.",
		"If a new color/shape mapping has to be added for vertices then it has to be added to vertexMappings list as ",
		"a new object which should contain the requiredKeyValuePairs list and the shape and color keys."
	],
	"defaultVertexShape": "box",
	"defaultVertexColor": "white",
	"vertexMappings":
	[
		{
			"requiredKeyValuePairs":
			[
				{ "type":"Artifact", "subtype":"network socket" },
				{ "type":"Entity", "subtype":"network socket" },
				{ "type":"Object", "cdm.type":"NetFlowObject" }
			],
			"shape": "diamond",
			"color": "palegreen1"
		},
		{
			"requiredKeyValuePairs":
			[
				{ "type":"Artifact" },
				{ "type":"Entity" },
				{ "type":"Object" }
			],
			"shape": "ellipse",
			"color": "khaki1"
		},
		{
			"requiredKeyValuePairs":
			[
				{ "type":"Process" },
				{ "type":"Activity" },
				{ "type":"Subject" }
			],
			"shape": "box",
			"color": "lightsteelblue1"
		},
		{
			"requiredKeyValuePairs":
			[
				{ "type":"Agent" },
				{ "type":"Principal" }
			],
			"shape": "octagon",
			"color": "rosybrown1"
		}
	],

	"defaultEdgeStyle": "solid",
	"defaultEdgeColor": "black",
	"edgeStyleMappings":
	[
		{
			"requiredKeyValuePairs":
			[
				{ "success":"false" }
			],
			"style": "dashed"
		}
	],
	"edgeColorMappings":
	[
		{
			"requiredKeyValuePairs":
			[
				{ "type":"Used" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_INIT_MODULE" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_FINIT_MODULE" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_LOADLIBRARY" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_READ" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_RECVMSG" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_ACCEPT" }
			],
			"color": "green"
		},
		{
			"requiredKeyValuePairs":
			[
				{ "type":"WasGeneratedBy" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_VMSPLICE" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_UNLINK" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_WRITE" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_SENDMSG" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_MPROTECT" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_CONNECT" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_TRUNCATE" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_MODIFY_FILE_ATTRIBUTES" }
			],
			"color": "red"
		},
		{
			"requiredKeyValuePairs":
			[
				{ "type":"WasTriggeredBy" },
				{ "type":"WasInformedBy" },
				{ "type":"SimpleEdge", "cdm.type":"UnitDependency" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_EXIT" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_FORK" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_CLONE" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_EXECUTE" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_CHANGE_PRINCIPAL" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_UNIT" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_MODIFY_PROCESS" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_SIGNAL" }
			],
			"color": "blue"
		},
		{
			"requiredKeyValuePairs":
			[
				{ "type":"WasControlledBy" },
				{ "type":"WasAssociatedWith" },
				{ "type":"ActedOnBehalfOf" },
				{ "type":"WasAttributedTo" }
			],
			"color": "purple"
		},
		{
			"requiredKeyValuePairs":
			[
				{ "type":"WasDerivedFrom" }
			],
			"color": "orange"
		},
		{
			"requiredKeyValuePairs":
			[
				{ "type":"SimpleEdge", "cdm.type":"EVENT_TEE" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_SPLICE" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_CLOSE" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_OPEN" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_CREATE_OBJECT" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_MMAP" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_RENAME" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_LINK" },
				{ "type":"SimpleEdge", "cdm.type":"EVENT_UPDATE" }
			],
			"color": "violet"
		}
	]
}