# If absent, constructed from 'mcp_http_host_name', 'mcp_http_host_port', 'mcp_http_host_endpoint'
# in spade.utility.mcp.server.Server.config
#mcp_url = http://localhost:3000/mcp
# Expects 'anthropic' or 'mock'
llm_type = mock
# Required if llm_type is anthropic
#anthropic_api_key =
#anthropic_model = claude-sonnet-5
# Expects 'cli' or 'web'
user_client_mode = cli
# Required if user_client_mode is web
#web_host = localhost
#web_port = 8081
verbose = false
# mock llm_type only
only_tools = false
