subtype=>entityType
version=>hasVersion
gid=>group
command line=>commandLine
name=>programName
mode=>permissions
source address=>sourceAddress
source port=>sourcePort
destination address=>destinationAddress
destination port=>destinationPort
memory address=>memoryAddress
event id=>eventId
cwd=>currentDirectory
start time=>startTime
write fd=>writeFd
read fd=>readFd
#todo add the rest here as new annotations added in OPMConstants
