# The file requires there to be unique keys. Annotations used in multiple vertices/edges are commented out except for one instance.

# Vertex Annotations

# Agent Annotations
uid=>uid
euid=>euid
gid=>gid
egid=>egid
suid=>suid
sgid=>sgid
fsuid=>fsuid
fsgid=>fsgid
source=>source

# Process Annotations
name=>name
pid=>pid
ns pid=>nsPid
ppid=>ppid
cwd=>cwd
command line=>commandLine
start time=>startTime
seen time=>seenTime
unit=>unit
count=>count
iteration=>iteration
mount namespace=>mountNamespace
user namespace=>userNamespace
net namespace=>netNamespace
pid namespace=>pidNamespace
children pid namespace=>childrenPidNamespace
ipc namespace=>ipcNamespace
#source=>source

# Artifact Annotations
subtype=>subtype
memory address=>memoryAddress
size=>size
tgid=>tgid
time=>time
path=>path
root path=>rootPath
inode=>inode
permissions=>permissions
version=>version
epoch=>epoch
fd=>fd
read fd=>readFd
write fd=>writeFd
fd 0=>fd0
fd 1=>fd1
local address=>localAddress
local port=>localPort
remote address=>remoteAddress
remote port=>remotePort
protocol=>protocol
# Included above.
#net namespace=>netNamespace
# Included above.
#ipc namespace=>ipcNamespace
id=>id
owner uid=>ownerUid
owner gid=>ownerGid
#source=>source

# Edge Annotations

# WasControlledBy Annotations
operation=>operation
#time=>time
event id=>eventId
#source=>source

# WasTriggeredBy Annotations
#operation=>operation
flags=>flags
request=>request
signal=>signal
#time=>time
#event id=>eventId
#source=>source

# WasGeneratedBy Annotations
#operation=>operation
#size=>size
mode=>mode
#flags=>flags
protection=>protection
offset=>offset
whence=>whence
advice=>advice
#time=>time
#event id=>eventId
#source=>source

# Used Annotations
#operation=>operation
#size=>size
#mode=>mode
#flags=>flags
#offset=>offset
#time=>time
#event id=>eventId
#source=>source

# WasDerivedFrom Annotations
#operation=>operation
#pid=>pid
#time=>time
#event id=>eventId
#source=>source

#todo add the rest here as new annotations added in OPMConstants
