reportingEnabled = true
# 'neo4jDataDirectory' is inherited from key 'dbms.directories.data' in config file 'lib/neo4j-community-3.4.4/conf/neo4j.conf'.
# The final database path is constructed relative to it's value according to the Neo4j convention.
# The default value for 'dbms.directories.data' is 'data' which resolves to 'lib/neo4j-community-3.4.4/data'.
neo4jDataDirectory = lib/neo4j-community-3.4.4/data
# 'database' is the path of the database directory relative to '<neo4jDatabaseDirectory>/databases' according to the Neo4j convention.
# Value of 'database' cannot be absolute.
database = graph.db
