DropRepeatEdgesMap.argument=reportingSeconds=120 flushOnClose=false
DropRepeatEdgesMap.screenName=BloomFilter
DropRepeatEdgesMap.screenArgument=expectedElements=1000000 falsePositiveProbability=0.000001
DropRepeatEdgesMap.cacheName=LRU
DropRepeatEdgesMap.cacheArgument=size=1000000
DropRepeatEdgesMap.storeName=BerkeleyDB
DropRepeatEdgesMap.storeArgument=environmentPath=tmp/externalMap/berkeleyDb/filter/DropRepeatEdges dbName=DropRepeatEdgesMapDb deleteOnClose=true
