debug=false

# max size of hook entries in memory. Must be > 0
maxPerHookEntries=65536
# max time to keep a hook entry in memory. Must be > 0
hookEntryTtlMillis=60000

# max entries for syscall in memory. Must be > 0
maxSyscallEntries=131072
# max time to keep a syscall entry in memory. Must be > 0
syscallEntryTtlMillis=120000
