## FIXED CONSTANTS BELOW BASED ON AMEBA SOURCE.

record_type_new_process = 1
record_type_cred = 2
record_type_namespace = 3
record_type_connect = 4
record_type_accept = 5
record_type_send_recv = 6
record_type_bind = 7
record_type_kill = 8
record_type_audit_log_exit = 9

sys_num_clone = 220
sys_num_setns = 268
sys_num_unshare = 97
sys_num_clone3 = 435
sys_num_sendto = 206
sys_num_sendmsg = 211
sys_num_recvfrom = 207
sys_num_recvmsg = 212
sys_num_accept = 202
sys_num_accept4 = 242
sys_num_bind = 200
sys_num_connect = 203
sys_num_kill = 129

sys_id_fork = 1
sys_id_vfork = 2
sys_id_clone = 3
sys_id_setns = 4
sys_id_unshare = 5
sys_id_sendto = 6
sys_id_sendmsg = 7
sys_id_recvfrom = 8
sys_id_recvmsg = 9
sys_id_accept = 10
sys_id_accept4 = 11

# Record identifying key-val pair for the converted record: <id_key>=<id_val>
record_id_key=record_source
record_id_val=ameba