# Comma separated names of processes to match
malicious=
# Output file path to write process features of all processes
processFeaturesPath=tmp/windows.process.features.csv
# Output file path to write artifact features of all filepath artifacts
filePathFeaturesPath=tmp/windows.filepath.features.csv

