# Change the keys in the code of Kafka and CDM storages too if changed here

KafkaServer=localhost:9094
KafkaTopic=ta1-trace-cdm18
KafkaProducerID=SPADE
Schema=cfg/spade.storage.CDM.avsc
hostFile=cfg/spade.utility.HostInfo.out

# SSL configuration
SecurityProtocol=SSL
TrustStoreLocation=/var/private/ssl/kafka.client.truststore.jks
TrustStorePassword=
KeyStoreLocation=/var/private/ssl/kafka.client.keystore.jks
KeyStorePassword=
KeyPassword=
