verbose=true

# Relative to SPADE root
ameba_bin_path=./bin/ameba

# Not used at the moment
ameba_log_path=./log/ameba.log

# There are two output modes in AMEBA:
# 1. File
# 2. UDP socket
# Only one output mode can be specified.

# To get the records from AMEBA in a file
#output_file_path=

# To get the records from AMEBA on a network socket (UDP)
output_ip=127.0.0.1
output_port=5656