tempDir=tmp
#set 'reportingIntervalSeconds' to 0 to not report anything
reportingIntervalSeconds=120
spadeAuditBridge=lib/spadeAuditBridge
#Comma-separated names of processes to ignore (case-sensitive). Only for live-audit.
ignoreProcesses=
#Comma-separated names of processes whose immediate children are to be ignored (case-sensitive). Only for live-audit.
ignoreParentProcesses=
