# The following two keys must be specified
# 1) 'storage' key: The name of the storage along with the arguments (if any)
#	example: storage=Graphviz output=/tmp/output.dot
# 2) 'reporter' key: The name of the reporter along with the arguments (if any)
#	example: reporter=Graphviz /tmp/input.dot
storage=
reporter=
