KafkaServer=localhost:9092
KafkaTopic=ta1-trace-cdm13
KafkaProducerID=SPADE
Schema=cfg/spade.storage.CDM.avsc
#change the keys in the code of Kafka and CDM storages too if changed here

### EVENT rules
#edgetype:operation & edgetype:operation & edgeType:*, CDM EventType enum value
#The special char '*' can only be used for operation meaning that it can be anything
WasTriggeredBy:exit, EVENT_EXIT
WasTriggeredBy:fork, EVENT_FORK
WasTriggeredBy:clone, EVENT_CLONE
WasTriggeredBy:execve, EVENT_EXECUTE
WasTriggeredBy:setuid, EVENT_CHANGE_PRINCIPAL
WasTriggeredBy:unit, EVENT_UNIT
WasGeneratedBy:close, EVENT_CLOSE
WasGeneratedBy:unlink, EVENT_UNLINK
WasGeneratedBy:open, EVENT_OPEN
WasGeneratedBy:create, EVENT_CREATE_OBJECT
WasGeneratedBy:write, EVENT_WRITE
WasGeneratedBy:send, EVENT_SENDMSG
WasGeneratedBy:mprotect, EVENT_MPROTECT
WasGeneratedBy:connect, EVENT_CONNECT
WasGeneratedBy:truncate, EVENT_TRUNCATE
WasGeneratedBy:chmod, EVENT_MODIFY_FILE_ATTRIBUTES
Used:create, EVENT_CREATE_OBJECT
Used:close, EVENT_CLOSE
Used:load, EVENT_LOADLIBRARY
Used:open, EVENT_OPEN
Used:read, EVENT_READ
Used:recv, EVENT_RECVMSG
Used:accept, EVENT_ACCEPT
WasDerivedFrom:mmap & WasGeneratedBy:mmap_write & Used:mmap_read, EVENT_MMAP
WasGeneratedBy:mmap_write, EVENT_MMAP
WasDerivedFrom:rename & Used:rename_read & WasGeneratedBy:rename_write, EVENT_RENAME
WasDerivedFrom:link & Used:link_read & WasGeneratedBy:link_write, EVENT_LINK
WasDerivedFrom:update & WasGeneratedBy:*, EVENT_UPDATE
