# Annotations for everything
#source=>source

# Vertex Annotations

# Agent Annotations
#uid=>
#euid=>
gid=>group
#egid=>
#suid=>
#sgid=>
#fsuid=>
#fsgid=>

# Process Annotations
name=>programName
#pid=>
#ppid=>
cwd=>currentDirectory
command line=>commandLine
start time=>startTime
#seen time=>
#unit=>
#count=>
#iteration=>

# Artifact Annotations
subtype=>entityType
memory address=>memoryAddress
#size=>
#tgid=>
#time=>
#path=>
#permissions=>
version=>hasVersion
#epoch=>
#fd=>
read fd=>readFd
write fd=>writeFd
#fd 0=>
#fd 1=>
local address=>sourceAddress
local port=>sourcePort
remote address=>destinationAddress
remote port=>destinationPort
#protocol=>

# Edge Annotations

# Annotations for all Edges
#operation=>
#time=>
event id=>eventId

# WasTriggeredBy Annotations
#flags=>
#request=>
#signal=>

# WasGeneratedBy Annotations
#size=>
mode=>permissions
#flags=>
#protection=>
#offset=>

# Used Annotations
#size=>
#mode=>
#flags=>
#offset=>

# WasDerivedFrom Annotations
#pid=>

#todo add the rest here as new annotations added in OPMConstants
