debug=false
# max size of hook entries in memory. Must be > 0
perHookMaxEntries=65536
# max time to keep a hook entry in memory. Must be > 0
entryTtlMillis=10000

# Recommended to keep both pairs of config (below) to be same
# max entries for netfilter mapping. Must be > 0
maxNetfilterMappings=131072
# max time to keep a netfilter mapping in memory. Must be > 0
netfilterMappingsTtlMillis=120000
# max entries for syscall mapping. Must be > 0
maxSyscallMappings=131072
# max time to keep a syscall mapping in memory. Must be > 0
syscallMappingsTtlMillis=120000
