Schema=cfg/spade.storage.CDM.avsc
#uncomment the following line to report stats in the log
#reportingIntervalSeconds=120
CDMVertexMap.argument=reportingSeconds=120 flushOnClose=false
CDMVertexMap.screenName=BloomFilter
CDMVertexMap.screenArgument=expectedElements=1000000 falsePositiveProbability=0.000001
CDMVertexMap.cacheName=LRU
CDMVertexMap.cacheArgument=size=100000
CDMVertexMap.storeName=BerkeleyDB
CDMVertexMap.storeArgument=environmentPath=tmp/externalMap/berkeleyDb/reporter/CDM dbName=CDMVertexMapDb deleteOnClose=true
