spade_host = localhost
# If absent, gotten from 'commandline_query_port' in spade.core.Kernel.config
#spade_query_port = 19998
# If absent, gotten from 'local_control_port' in spade.core.Kernel.config
#spade_control_port = 19999
# Expects 'stdio' or 'http'
mcp_server_mode = http
# Required if mcp_server_mode is http
mcp_http_host_name = localhost
mcp_http_host_port = 3000
mcp_http_host_endpoint = /mcp
