verbose=true

# Paths are relative to SPADE root

# Ameba binary/install path
ameba_bin_path=./bin/ameba

# Not used at the moment
ameba_log_path=./log/ameba.log

# There are two output modes in AMEBA:
# 1. File
# 2. UDP socket
# Only one output mode can be specified.

# output type: 'file' or 'net' only!
output_type=file

# To get the records from AMEBA in a file
#output_file_path=/tmp/current_prov_log.json
output_file_path=test-run-logs/ameba.log

# To get the records from AMEBA on a network socket (UDP)
output_ip=127.0.0.1
output_port=5656

# The timeout in milliseconds for output record reader
output_reader_timeout_millis=1000

# The number of output records to buffer
output_buffer_size=10

# The max amount of time to buffer data. Once the time expires... the buffered data is flushed first.
output_buffer_ttl = 5000
