# Specify a path to load vertex bloomfilter/cache (on initialize) from and to save vertex bloomfilter/cache (on shutdown to)
# If not specified then bloomfilter not loaded from filesystem and not saved either
#vertex.bloomFilter.path=
# Only used if the bloomfilter file 'bloomFilter.vertex.path' didn't exist or wasn't specified
vertex.bloomFilter.expectedElements=1000000
# Only used if the bloomfilter file 'bloomFilter.vertex.path' didn't exist or wasn't specified
vertex.bloomFilter.falsePositiveProbability=0.0000001
# Size of cache for vertices
vertex.cache.size=10000

# Same as for 'vertex' keys
#edge.bloomFilter.path=
edge.bloomFilter.expectedElements=1000000
edge.bloomFilter.falsePositiveProbability=0.0000001
edge.cache.size=10000

# Number of seconds to stats after repeatedly. Set to a non-positive value to disable.
reportingIntervalSeconds=120