#backward_search

BeforeAfterHorizon event id
DropKeys event id
NoUnits
NoMemory
NoVersions
MergeIO
SimpleForks
Blacklist
NoEphemeralReads true
NoEphemeralWrites

#forward_search

BeforeAfterHorizon event id
DropKeys event id
NoUnits
NoMemory
NoVersions
MergeIO
SimpleForks
Blacklist
NoEphemeralReads
NoEphemeralWrites
