#inputLog=<PATH-TO-FILE>
# Prevents reporter removal until log processed
waitForLog=true
# Stops as soon as malformed input read
failFast=true
# 120 seconds
statsIntervalMillis=120000
# The 'duplicate' config used for generating the inputLog from CamFlow. 'false' not supported.
camflowDuplicate=true
