.DS_Store
.classpath
.claude
/build
/Makefile
/Makefile.java
module/android/Makefile
module/mac/fuse/Makefile
module/mac/llvm/Makefile
module/mac/openbsm/Makefile
module/linux/Makefile
module/linux/audit_bridge/Makefile
module/linux/fuse/Makefile
module/linux/kernel_module/Makefile
module/linux/llvm/Makefile
/target
module/**/target
bin/spadeAuditBridge
lib/spadeOpenBSM
*.class
cfg/control.history
cfg/keys/
cfg/spade.storage.CDM.out
cfg/spade.utility.HostInfo.out
config.log
config.status
lib/kernel-modules/
lib/libLinuxFUSE.so
lib/neo4j-community-4.1.1/
lib/spade.jar
/log/
spade.host
spade.pid
src/spade/reporter/LinuxFUSE$1.class
src/spade/reporter/LinuxFUSE.class
src/spade/reporter/audit/kernel-modules/build.h
src/spade/reporter/spade_reporter_LinuxFUSE.h
/tmp/
.vscode
cfg/query.history
Module.symvers
modules.order
lib/neo4j-community*
runtime.java-cp.argfile
autom4te.cache
configure~