{"datum":{"com.bbn.tc.schema.avro.SrcSinkObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"type":"SRCSINK_SYSTEM_PROPERTY","fileDescriptor":null}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Principal":{"type":"PRINCIPAL_LOCAL","userId":"1000","username":null,"groupIds":["1000","1000"],"properties":{"map":{"euid":"1000"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":{"string":unit\_tests\/tests/dup2.bin"},"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"dup2.bin",}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":null,"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{,}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_EXECUTE","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.SHORT":"\u0001´"},"epoch":{"int":0},"properties":{"map":{"path":"/tmp/myfile.txt"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_CREATE_OBJECT","predicateObject":{},"predicateObjectPath":{"string":"/tmp/myfile.txt"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_WRONLY|O_CREAT"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"3"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/tmp/myfile.txt"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"WasGeneratedBy"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_UNLINK","predicateObject":{},"predicateObjectPath":{"string":"/tmp/myfile.txt"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_WRITE","predicateObject":{},"predicateObjectPath":{"string":"/tmp/myfile.txt"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":{},"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_EXIT","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.SrcSinkObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{"EVENT_UNLINK":"1",,"FILE_OBJECT_FILE":"1","EVENT_MMAP":"1","EVENT_EXIT":"1","EVENT_CREATE_OBJECT":"1","MemoryObject":"1","EVENT_CLOSE":"1","EVENT_EXECUTE":"1","Principal":"1","SUBJECT_PROCESS":"2",\"EVENT_WRITE\"}}},"type":"SRCSINK_SYSTEM_PROPERTY","fileDescriptor":null}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}
