{"datum":{"com.bbn.tc.schema.avro.SrcSinkObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"type":"SRCSINK_SYSTEM_PROPERTY","fileDescriptor":null}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Principal":{"type":"PRINCIPAL_LOCAL","userId":"1000","username":null,"groupIds":["1000","1000"],"properties":{"map":{"euid":"1000"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":{"string":unit\_tests\/tests/execve.bin"},"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"execve.bin",}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":null,"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{,}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_EXECUTE","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"3"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":{"string":"date"},"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"date",}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.SHORT":"\u0001í"},"epoch":{"int":0},"properties":{"map":{"path":"/lib64/ld-linux-x86-64.so.2"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.SHORT":"\u0001í"},"epoch":{"int":0},"properties":{"map":{"path":"/bin/date"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_LOADLIBRARY","predicateObject":{},"predicateObjectPath":{"string":"/lib64/ld-linux-x86-64.so.2"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_LOADLIBRARY","predicateObject":{},"predicateObjectPath":{"string":"/bin/date"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_EXECUTE","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"3"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.SHORT":"\u0001¤"},"epoch":{"int":0},"properties":{"map":{"path":"/etc/ld.so.cache"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/ld.so.cache"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/ld.so.cache"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/ld.so.cache"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.SHORT":"\u0001í"},"epoch":{"int":0},"properties":{"map":{"path":"/lib/x86_64-linux-gnu/libc.so.6"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libc.so.6"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_READ","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libc.so.6"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":{},"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libc.so.6"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"5"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_MPROTECT","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"0"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libc.so.6"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"3"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"3"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libc.so.6"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"3"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"3"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_MPROTECT","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_MPROTECT","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_MPROTECT","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.SHORT":"\u0001¤"},"epoch":{"int":0},"properties":{"map":{"path":"/etc/localtime"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/localtime"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"3"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/localtime"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"3"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.SrcSinkObject":{"baseObject":{"permission":null,"epoch":{"int":0},"properties":{"map":{}}},"type":"SRCSINK_UNKNOWN","fileDescriptor":{"int":1}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_WRITE","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":{},"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_EXIT","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.SrcSinkObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{"EVENT_MMAP":"10","FILE_OBJECT_FILE":"5",\"EVENT_READ\","EVENT_CLOSE":"3","EVENT_LOADLIBRARY":"2",\"EVENT_WRITE\",,"EVENT_EXIT":"1","EVENT_MPROTECT":"4","MemoryObject":"13","EVENT_OPEN":"3","EVENT_EXECUTE":"2","SrcSinkObject":"1","Principal":"1","SUBJECT_PROCESS":"3"}}},"type":"SRCSINK_SYSTEM_PROPERTY","fileDescriptor":null}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}
