{"datum":{"com.bbn.tc.schema.avro.SrcSinkObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"type":"SRCSINK_SYSTEM_PROPERTY","fileDescriptor":null}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Principal":{"type":"PRINCIPAL_LOCAL","userId":"1000","username":null,"groupIds":["1000","1000"],"properties":{"map":{"euid":"1000"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":{"string":unit\_tests\/tests/renameat.bin"},"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"renameat.bin",}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":null,"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{,}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_EXECUTE","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.SHORT":"\u0001´"},"epoch":{"int":0},"properties":{"map":{"path":"/home/local/b.txt"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_CREATE_OBJECT","predicateObject":{},"predicateObjectPath":{"string":"/home/local/b.txt"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY|O_CREAT"}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.SHORT":"\u0001´"},"epoch":{"int":0},"properties":{"map":{"path":"/home/local/a.txt"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_RENAME","predicateObject":{},"predicateObjectPath":{"string":"/home/local/b.txt"},"predicateObject2":{},"predicateObject2Path":{"string":"/home/local/a.txt"},"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_UNLINK","predicateObject":{},"predicateObjectPath":{"string":"/home/local/a.txt"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.Event":{"type":"EVENT_EXIT","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.SrcSinkObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{"EVENT_UNLINK":"1",,"FILE_OBJECT_FILE":"2","EVENT_EXIT":"1","EVENT_CREATE_OBJECT":"1","EVENT_RENAME":"1","EVENT_EXECUTE":"1","Principal":"1","SUBJECT_PROCESS":"2"}}},"type":"SRCSINK_SYSTEM_PROPERTY","fileDescriptor":null}},"CDMVersion":"17","source":"SOURCE_LINUX_AUDIT_TRACE"}
