{"datum":{"com.bbn.tc.schema.avro.cdm19.Host"}}

{"datum":{"com.bbn.tc.schema.avro.cdm19.TimeMarker":{}},"CDMVersion":"19","type":"RECORD_TIME_MARKER","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm19.Principal":{"type":"PRINCIPAL_LOCAL","userId","username":null,"groupIds":{"array":["1000","1000"]},"properties":{"map":{"euid"}}}},"CDMVersion":"19","type":"RECORD_PRINCIPAL","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm19.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"localPrincipal":{},"startTimestampNanos":{},"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":{"string":"chmod.bin"},"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"chmod.bin",}}}},"CDMVersion":"19","type":"RECORD_SUBJECT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm19.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"localPrincipal":{},"startTimestampNanos":{},"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":null,"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"chmod.bin",,}}}},"CDMVersion":"19","type":"RECORD_SUBJECT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm19.Event":{"type":"EVENT_EXECUTE","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"19","type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm19.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.cdm19.SHORT":"\u0001´"},"epoch":{"int":0},"properties":{"map":{"path":"/home/local/testfile.txt"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"19","type":"RECORD_FILE_OBJECT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm19.Event":{"type":"EVENT_CREATE_OBJECT","predicateObject":{},"predicateObjectPath":{"string":"/home/local/testfile.txt"},"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_WRONLY|O_APPEND|O_CREAT"}}}},"CDMVersion":"19","type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm19.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.cdm19.SHORT":"\u0001ÿ"},"epoch":{"int":0},"properties":{"map":{"path":"/home/local/testfile.txt"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"19","type":"RECORD_FILE_OBJECT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm19.Event":{"type":"EVENT_UPDATE","predicateObject":{},"predicateObjectPath":{"string":"/home/local/testfile.txt"},"predicateObject2":{},"predicateObject2Path":{"string":"/home/local/testfile.txt"},"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"19","type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm19.Event":{"type":"EVENT_MODIFY_FILE_ATTRIBUTES","predicateObject":{},"predicateObjectPath":{"string":"/home/local/testfile.txt"},"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"19","type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm19.Event":{"type":"EVENT_UNLINK","predicateObject":{},"predicateObjectPath":{"string":"/home/local/testfile.txt"},"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"19","type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm19.Event":{"type":"EVENT_EXIT","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"19","type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm19.TimeMarker":{}},"CDMVersion":"19","type":"RECORD_TIME_MARKER","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm19.EndMarker":{"sessionNumber","recordCounts":{"EVENT_UNLINK":"1","FILE_OBJECT_FILE":"2","EVENT_EXIT":"1","TimeMarker":"2","EndMarker":"1","EVENT_CREATE_OBJECT":"1","Host":"1","EVENT_EXECUTE":"1","EVENT_MODIFY_FILE_ATTRIBUTES":"1","Principal":"1","SUBJECT_PROCESS":"2","EVENT_UPDATE":"1"}}},"CDMVersion":"19","type":"RECORD_END_MARKER","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}
