{"datum":{"com.bbn.tc.schema.avro.cdm.Host"}}

{"datum":{"com.bbn.tc.schema.avro.cdm.TimeMarker":{}},"type":"RECORD_TIME_MARKER","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Principal":{"type":"PRINCIPAL_LOCAL","userId","username":null,"groupIds":{"array":["1002","1002"]},"properties":{"map":{"euid"}}}},"type":"RECORD_PRINCIPAL","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"localPrincipal":{},"startTimestampNanos":{},"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":{"string":""},"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"locale",}}}},"type":"RECORD_SUBJECT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"localPrincipal":{},"startTimestampNanos":{},"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":null,"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"locale",,}}}},"type":"RECORD_SUBJECT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Event":{"type":"EVENT_EXECUTE","subject":{},"predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.cdm.SHORT":"\u0001´"},"epoch":{"int":0},"properties":{"map":{"path":"/home/hass/testfile.txt"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"type":"RECORD_FILE_OBJECT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"localPrincipal":{},"startTimestampNanos":{},"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":null,"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"chmod.bin",,}}}},"type":"RECORD_SUBJECT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Event":{"type":"EVENT_CREATE_OBJECT","subject":{},"predicateObject":{},"predicateObjectPath":{"string":".txt"},"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_WRONLY|O_APPEND|O_CREAT"}}}},"type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.cdm.SHORT":"\u0001ÿ"},"epoch":{"int":0},"properties":{"map":{"path":"/home/hass/testfile.txt"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"type":"RECORD_FILE_OBJECT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Event":{"type":"EVENT_UPDATE","subject":{},"predicateObject":{},"predicateObjectPath":{"string":".txt"},"predicateObject2":{},"predicateObject2Path":{"string":".txt"},"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Event":{"type":"EVENT_MODIFY_FILE_ATTRIBUTES","subject":{},"predicateObject":{},"predicateObjectPath":{"string":".txt"},"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Event":{"type":"EVENT_UNLINK","subject":{},"predicateObject":{},"predicateObjectPath":{"string":".txt"},"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Event":{"type":"EVENT_EXIT","subject":{},"predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.TimeMarker":{}},"type":"RECORD_TIME_MARKER","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.EndMarker":{"sessionNumber","recordCounts":{"EVENT_UNLINK":"1","FILE_OBJECT_FILE":"2","EVENT_EXIT":"1","TimeMarker":"2","EndMarker":"1","EVENT_CREATE_OBJECT":"1","Host":"1","EVENT_EXECUTE":"1","EVENT_MODIFY_FILE_ATTRIBUTES":"1","Principal":"1","SUBJECT_PROCESS":"3","EVENT_UPDATE":"1"}}},"type":"RECORD_END_MARKER","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}
