{"datum":{"com.bbn.tc.schema.avro.cdm18.TimeMarker":{}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.StartMarker":{"sessionNumber":0}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Host"}}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Principal":{"type":"PRINCIPAL_LOCAL","userId","username":null,"groupIds:[]","properties":{"map":{"euid"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":{"string":"dup3.bin"},"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"dup3.bin",}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":null,"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"dup3.bin",,}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_EXECUTE","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.cdm18.SHORT":"\u0001´"},"epoch":{"int":0},"properties":{"map":{"path":"/tmp/myfile.txt"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CREATE_OBJECT","predicateObject":{},"predicateObjectPath":{"string":"/tmp/myfile.txt"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_WRONLY|O_CREAT"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"3"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/tmp/myfile.txt"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"WasGeneratedBy"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_UNLINK","predicateObject":{},"predicateObjectPath":{"string":"/tmp/myfile.txt"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_WRITE","predicateObject":{},"predicateObjectPath":{"string":"/tmp/myfile.txt"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":{},"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_EXIT","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.TimeMarker":{}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.EndMarker":{"sessionNumber":0,"recordCounts":{"FILE_OBJECT_FILE":"1","EVENT_MMAP":"1","EndMarker":"1","EVENT_CREATE_OBJECT":"1","Host":"1","EVENT_CLOSE":"1",\"EVENT_WRITE\","EVENT_UNLINK":"1","EVENT_EXIT":"1","TimeMarker":"2","MemoryObject":"1","StartMarker":"1","EVENT_EXECUTE":"1","Principal":"1","SUBJECT_PROCESS":"2"}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}
