{"datum":{"com.bbn.tc.schema.avro.cdm18.TimeMarker":{}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.StartMarker":{"sessionNumber":0}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Host"}}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Principal":{"type":"PRINCIPAL_LOCAL","userId","username":null,"groupIds:[]","properties":{"map":{"euid"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":{"string":"link.bin"},"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"link.bin",}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":null,"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"link.bin",,}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_EXECUTE","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.cdm18.SHORT":"\u0001"},"epoch":{"int":0},"properties":{"map":{"path":"/tmp/a.txt"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CREATE_OBJECT","predicateObject":{},"predicateObjectPath":{"string":"/tmp/a.txt"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_WRONLY|O_CREAT"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/tmp/a.txt"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"WasGeneratedBy"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.cdm18.SHORT":"\u0001"},"epoch":{"int":0},"properties":{"map":{"path":"/tmp/link.out"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_LINK","predicateObject":{},"predicateObjectPath":{"string":"/tmp/a.txt"},"predicateObject2":{},"predicateObject2Path":{"string":"/tmp/link.out"},"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_UNLINK","predicateObject":{},"predicateObjectPath":{"string":"/tmp/link.out"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_UNLINK","predicateObject":{},"predicateObjectPath":{"string":"/tmp/a.txt"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_EXIT","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.TimeMarker":{}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.EndMarker":{"sessionNumber":0,"recordCounts":{"FILE_OBJECT_FILE":"2","EndMarker":"1","EVENT_CREATE_OBJECT":"1","Host":"1","EVENT_CLOSE":"1","EVENT_LINK":"1","EVENT_UNLINK":"2","EVENT_EXIT":"1","TimeMarker":"2","StartMarker":"1","EVENT_EXECUTE":"1","Principal":"1","SUBJECT_PROCESS":"2"}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}
