{"datum":{"com.bbn.tc.schema.avro.cdm.Host"}}

{"datum":{"com.bbn.tc.schema.avro.cdm.TimeMarker":{}},"type":"RECORD_TIME_MARKER","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Principal":{"type":"PRINCIPAL_LOCAL","userId","username":null,"groupIds":{"array":["1002","1002"]},"properties":{"map":{"euid"}}}},"type":"RECORD_PRINCIPAL","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"localPrincipal":{},"startTimestampNanos":{},"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":{"string":""},"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"locale",}}}},"type":"RECORD_SUBJECT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"localPrincipal":{},"startTimestampNanos":{},"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":null,"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"locale",,}}}},"type":"RECORD_SUBJECT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Event":{"type":"EVENT_EXECUTE","subject":{},"predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"localPrincipal":{},"startTimestampNanos":{},"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":null,"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"pipe-2.bin",}}}},"type":"RECORD_SUBJECT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"localPrincipal":{},"startTimestampNanos":{},"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":null,"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"pipe-2.bin",,}}}},"type":"RECORD_SUBJECT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Event":{"type":"EVENT_FORK","subject":{},"predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.IpcObject":{"baseObject":{"permission":null,"epoch":{"int":0},"properties":{"map":{}}},"type":"IPC_OBJECT_PIPE_UNNAMED","uuid1":null,"uuid2":null,"fd1":{"int":3},"fd2":{"int":4}}},"type":"RECORD_IPC_OBJECT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Event":{"type":"EVENT_CLOSE","subject":{},"predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"type":"RECORD_MEMORY_OBJECT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Event":{"type":"EVENT_MMAP","subject":{},"predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"3"}}}},"type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Event":{"type":"EVENT_WRITE","subject":{},"predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":{},"programPoint":null,"properties":{"map":{}}}},"type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Event":{"type":"EVENT_CLOSE","subject":{},"predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"WasGeneratedBy"}}}},"type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Event":{"type":"EVENT_CLOSE","subject":{},"predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"WasGeneratedBy"}}}},"type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Event":{"type":"EVENT_READ","subject":{},"predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":{},"programPoint":null,"properties":{"map":{}}}},"type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"type":"RECORD_MEMORY_OBJECT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Event":{"type":"EVENT_MMAP","subject":{},"predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"3"}}}},"type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Event":{"type":"EVENT_CLOSE","subject":{},"predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.SrcSinkObject":{"baseObject":{"permission":null,"epoch":{"int":0},"properties":{"map":{}}},"type":"SRCSINK_UNKNOWN","fileDescriptor":{"int":1}}},"type":"RECORD_SRC_SINK_OBJECT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Event":{"type":"EVENT_WRITE","subject":{},"predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":{},"programPoint":null,"properties":{"map":{}}}},"type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Event":{"type":"EVENT_EXIT","subject":{},"predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.SrcSinkObject":{"baseObject":{"permission":null,"epoch":{"int":0},"properties":{"map":{}}},"type":"SRCSINK_UNKNOWN","fileDescriptor":{"int":1}}},"type":"RECORD_SRC_SINK_OBJECT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.Event":{"type":"EVENT_EXIT","subject":{},"predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"names":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"type":"RECORD_EVENT","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.TimeMarker":{}},"type":"RECORD_TIME_MARKER","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm.EndMarker":{"sessionNumber","recordCounts":{"EVENT_MMAP":"2",\"EVENT_READ\","EndMarker":"1","Host":"1","EVENT_CLOSE":"4",\"EVENT_WRITE\","EVENT_EXIT":"2","IPC_OBJECT_PIPE_UNNAMED":"1","EVENT_FORK":"1","TimeMarker":"2","MemoryObject":"2","EVENT_EXECUTE":"1","SrcSinkObject":"2","Principal":"1","SUBJECT_PROCESS":"4"}}},"type":"RECORD_END_MARKER","sessionNumber","source":"SOURCE_LINUX_SYSCALL_TRACE"}
