{"datum":{"com.bbn.tc.schema.avro.cdm18.TimeMarker":{}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.StartMarker":{"sessionNumber":0}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Host"}}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Principal":{"type":"PRINCIPAL_LOCAL","userId","username":null,"groupIds:[]","properties":{"map":{"euid"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":{"string":"renameat.bin"},"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"renameat.bin",}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":null,"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"renameat.bin",,}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_EXECUTE","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.cdm18.SHORT":"\u0001´"},"epoch":{"int":0},"properties":{"map":{"path":"/home/local/b.txt"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CREATE_OBJECT","predicateObject":{},"predicateObjectPath":{"string":"/home/local/b.txt"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY|O_CREAT"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.cdm18.SHORT":"\u0001´"},"epoch":{"int":0},"properties":{"map":{"path":"/home/local/a.txt"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_RENAME","predicateObject":{},"predicateObjectPath":{"string":"/home/local/b.txt"},"predicateObject2":{},"predicateObject2Path":{"string":"/home/local/a.txt"},"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_UNLINK","predicateObject":{},"predicateObjectPath":{"string":"/home/local/a.txt"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_EXIT","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.TimeMarker":{}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.EndMarker":{"sessionNumber":0,"recordCounts":{"EVENT_UNLINK":"1","FILE_OBJECT_FILE":"2","EVENT_EXIT":"1","TimeMarker":"2","EndMarker":"1","EVENT_CREATE_OBJECT":"1","EVENT_RENAME":"1","StartMarker":"1","Host":"1","EVENT_EXECUTE":"1","Principal":"1","SUBJECT_PROCESS":"2"}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}
