{"datum":{"com.bbn.tc.schema.avro.cdm18.TimeMarker":{}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.StartMarker":{"sessionNumber":0}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Host"}}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Principal":{"type":"PRINCIPAL_LOCAL","userId","username":null,"groupIds:[]","properties":{"map":{"euid"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":{"string":"setresuid.bin"},"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"setresuid.bin",}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Subject":{"type":"SUBJECT_PROCESS","parentSubject":null,"unitId":{"int":0},"iteration":null,"count":null,"cmdLine":null,"privilegeLevel":null,"importedLibraries":null,"exportedLibraries":null,"properties":{"map":{"name":"setresuid.bin",,}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_EXECUTE","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.cdm18.SHORT":"\u0001¤"},"epoch":{"int":0},"properties":{"map":{"path":"/etc/nsswitch.conf"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/nsswitch.conf"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"3"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_READ","predicateObject":{},"predicateObjectPath":{"string":"/etc/nsswitch.conf"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":{},"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/nsswitch.conf"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.cdm18.SHORT":"\u0001¤"},"epoch":{"int":0},"properties":{"map":{"path":"/etc/ld.so.cache"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/ld.so.cache"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/ld.so.cache"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/ld.so.cache"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.cdm18.SHORT":"\u0001¤"},"epoch":{"int":0},"properties":{"map":{"path":"/lib/x86_64-linux-gnu/libnss_compat.so.2"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libnss_compat.so.2"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libnss_compat.so.2"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"5"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MPROTECT","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"0"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libnss_compat.so.2"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"3"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libnss_compat.so.2"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.cdm18.SHORT":"\u0001¤"},"epoch":{"int":0},"properties":{"map":{"path":"/lib/x86_64-linux-gnu/libnsl.so.1"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libnsl.so.1"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libnsl.so.1"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"5"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MPROTECT","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"0"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libnsl.so.1"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"3"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"3"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libnsl.so.1"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MPROTECT","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MPROTECT","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/ld.so.cache"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/ld.so.cache"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/ld.so.cache"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.cdm18.SHORT":"\u0001¤"},"epoch":{"int":0},"properties":{"map":{"path":"/lib/x86_64-linux-gnu/libnss_nis.so.2"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libnss_nis.so.2"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libnss_nis.so.2"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"5"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MPROTECT","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"0"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libnss_nis.so.2"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"3"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libnss_nis.so.2"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.cdm18.SHORT":"\u0001¤"},"epoch":{"int":0},"properties":{"map":{"path":"/lib/x86_64-linux-gnu/libnss_files.so.2"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libnss_files.so.2"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libnss_files.so.2"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"5"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MPROTECT","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"0"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libnss_files.so.2"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"3"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/lib/x86_64-linux-gnu/libnss_files.so.2"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MPROTECT","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MPROTECT","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.FileObject":{"baseObject":{"permission":{"com.bbn.tc.schema.avro.cdm18.SHORT":"\u0001¤"},"epoch":{"int":0},"properties":{"map":{"path":"/etc/passwd"}}},"type":"FILE_OBJECT_FILE","fileDescriptor":null,"localPrincipal":null,"size":null,"peInfo":null,"hashes":null}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"3"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.MemoryObject":{"baseObject":{"permission":null,"epoch":null,"properties":{"map":{}}},"pageNumber":null,"pageOffset":null,"size":{}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CHANGE_PRINCIPAL","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"operation":"setuid"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CHANGE_PRINCIPAL","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"operation":"setuid"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CHANGE_PRINCIPAL","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"operation":"setuid"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CHANGE_PRINCIPAL","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"operation":"setuid"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CHANGE_PRINCIPAL","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"operation":"setuid"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CHANGE_PRINCIPAL","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"operation":"setuid"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_OPEN","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"flags":"O_RDONLY","opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_MMAP","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":{},"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"protection":"1"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_CLOSE","predicateObject":{},"predicateObjectPath":{"string":"/etc/passwd"},"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{"opm":"Used"}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.SrcSinkObject":{"baseObject":{"permission":null,"epoch":{"int":0},"properties":{"map":{}}},"type":"SRCSINK_UNKNOWN","fileDescriptor":{"int":1}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_WRITE","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":{},"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.Event":{"type":"EVENT_EXIT","predicateObject":{},"predicateObjectPath":null,"predicateObject2":null,"predicateObject2Path":null,"name":null,"parameters":null,"location":null,"size":null,"programPoint":null,"properties":{"map":{}}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.TimeMarker":{}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}

{"datum":{"com.bbn.tc.schema.avro.cdm18.EndMarker":{"sessionNumber":0,"recordCounts":{"FILE_OBJECT_FILE":"7","EVENT_MMAP":"31",\"EVENT_READ\","EndMarker":"1","Host":"1","EVENT_CLOSE":"25",\"EVENT_WRITE\","EVENT_EXIT":"1","EVENT_MPROTECT":"8","TimeMarker":"2","MemoryObject":"21","StartMarker":"1","EVENT_OPEN":"25","EVENT_CHANGE_PRINCIPAL":"6","EVENT_EXECUTE":"1","SrcSinkObject":"1","Principal":"1","SUBJECT_PROCESS":"2"}}},"CDMVersion":"18","source":"SOURCE_LINUX_SYSCALL_TRACE"}
