# Change the keys in the code of Kafka and CDM storages too if changed here

# Output file path for the file writer. Setting this enables the file writer; leaving it unset
# (the default) uses the server writer instead.
#kafka.output.file=/tmp/trace/cdm-to-kafka/output.bin

kafka.schema=cfg/spade.storage.Kafka.avsc
kafka.output.server=localhost:9092
kafka.output.topic=trace-cdm-to-kafka-topic
kafka.output.producer.id=trace-cdm-to-kafka-producer
